@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}

body {
    background-image: url('./images/pexels-photo-207130.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

button:hover {
    color: #f1356d;
}


/* Split the screen in half */

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 5;
    overflow-x: hidden;
    padding-top: 20px;
}


/* Control the left side */

.left {
    left: 0;
    background-color: rgb(212, 212, 212);
    background-image: url('./images/pexels-cottonbro-5083010.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* Control the right side */

.right {
    right: 0;
    background-color: rgb(216, 207, 190);
    background-image: url('./images/pexels-adrien-olichon-2387793.jpg');
    background-size: cover;
}


/* If you want the content centered horizontally and vertically */

.centered {
    position: relative;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.overlay label,
button,
textarea {
    display: block;
    margin: 1rem;
}

.overlay .close-edit-post {
    background-color: tan;
    border: solid tan;
    border-radius: 0.5rem;
    float: right;
    width: 3rem;
    height: 3vh;
}

.overlay label {
    color: wheat;
}

.overlay .textarea-edit-post {
    width: 30rem;
    height: 15vh;
}

.overlay .button-edit-post {
    background-color: tan;
    border: solid tan;
    border-radius: 0.5rem;
    width: 8rem;
    height: 2rem;
}