.posts {
    width: 42rem;
    height: auto;
    margin: 1rem auto;
    align-items: center;
    display: block;
}

.posts-loading {
    font-weight: bold;
    color: rgb(25, 25, 29);
    text-align: center;
    font-size: 4rem;
}

.post-details {
    background-color: rgb(25, 25, 29, 0.7);
    border: solid rgb(216, 216, 216);
    border-radius: 0.5rem;
    width: 40rem;
    height: auto;
    margin-top: 2rem;
}

.post-details .content {
    font-weight: bold;
    margin: 0 0 2rem 2rem;
    color: white;
}

.post-image-content {
    max-width: 40rem;
    max-height: 40rem;
    margin: 1rem 1rem 1rem 1rem;
}

.post-image-content .post-image-image {
    width: 35rem;
    height: 35rem;
    border-radius: 1rem;
}

.action-on-post-like,
.action-on-post-unlike,
.action-on-post-comment {
    display: inline-block;
    width: 5rem;
    height: 1.6rem;
    text-align: center;
}

.action-on-post-like,
.action-on-post-unlike,
.action-on-post-comment {
    background-color: white;
    border: solid rgb(216, 216, 216);
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.numLikes {
    margin: 1rem;
    color: white;
    font-size: 1rem;
}

.post-number-likes {
    margin: 0rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.like-users-content {
    width: 30rem;
    height: auto;
    background-color: white;
    margin: 2rem 0 0 40rem;
    display: block;
}

.likes-users-links-p,
.likes-users-links-image {
    display: inline-block;
}

.likes-users-links-image {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.likes-users-links-p {
    color: black;
    position: relative;
    margin: -2rem 0 0 1rem;
}

.handle-close {
    color: white;
    font-weight: bold;
    background-color: transparent;
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
}