.posts {
    width: 42rem;
    height: auto;
    margin: 1rem auto;
    align-items: center;
    display: block;
}

.post-details {
    background-color: rgb(0, 1, 39);
    border: solid rgb(216, 216, 216);
    border-radius: 0.5rem;
    width: 40rem;
    height: auto;
    margin: 1rem;
}

.post-details .btn-delete-post,
.btn-edit-post {
    display: inline-block;
    background-color: rgb(216, 216, 216);
    border: solid rgb(216, 216, 216);
    border-radius: 0.3rem;
    width: 3rem;
    color: black;
    font-weight: bold;
    cursor: pointer;
    float: right;
}

.post-details .content {
    font-weight: bold;
    margin: 0 0 2rem 2rem;
    color: white;
}

.post-image-content {
    max-width: 40rem;
    max-height: 40rem;
    margin: 1rem 1rem 1rem 1rem;
}

.post-image-content .post-image-image {
    width: 35rem;
    height: 35rem;
    border-radius: 1rem;
    position: relative;
    left: 4%;
}

.post-action .action-on-post-like,
.action-on-post-unlike,
.action-on-post-comment {
    display: inline-block;
    width: 5rem;
    height: 1.6rem;
    text-align: center;
}

.post-action .action-on-post-like,
.action-on-post-unlike,
.action-on-post-comment {
    background-color: white;
    border: solid rgb(216, 216, 216);
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}