.comment-list-details {
    width: 30rem;
    height: 9rem;
    margin: 1rem;
    display: inline-block;
    border: solid rgb(216, 216, 216);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.comment-list-details-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
    bottom: 8%;
    left: -1%;
    outline: none;
}

.comment-list-details-image {
    width: 40px;
    height: 40px;
    position: relative;
    top: 4%;
    left: 2%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.comment-list-details-edit-btn,
.comment-list-details-delete-btn {
    width: 4rem;
    height: 1.5rem;
    display: inline-block;
    border: solid rgb(216, 216, 216);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.comment-list-details-edit-btn {
    position: absolute;
    margin: 0.8rem 0 0 7.5rem;
    outline: none;
}

.comment-list-details-delete-btn {
    position: absolute;
    margin: 0.8rem 0 0 12rem;
    outline: none;
}

.comment-list-details-message {
    max-width: 28rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 0.8rem;
}

.comment-list-details-btn-edit,
.comment-list-details-text-edit,
.comment-list-details-btn-cancel-edit {
    display: inline-block;
}

.comment-list-details-btn-edit {
    width: 5rem;
    height: 2rem;
    background-color: white;
    color: black;
    font-weight: bold;
    border: solid rgb(216, 216, 216);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    position: absolute;
    margin: 3.5rem 0 0 22.4rem;
    cursor: pointer;
    outline: none;
}

.comment-list-details-btn-cancel-edit {
    width: 5rem;
    height: 2rem;
    background-color: white;
    color: black;
    font-weight: bold;
    border: solid rgb(216, 216, 216);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    position: absolute;
    margin: 1rem 0 0 22.4rem;
    cursor: pointer;
    outline: none;
}

.comment-list-details-text-edit {
    width: 20rem;
    height: 4rem;
    outline: none;
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: solid rgb(216, 216, 216);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    position: absolute;
    outline: none;
}