.search {
    width: 20rem;
    height: 5rem;
    margin: 1rem auto;
}

.search-input {
    color: gray;
    font-size: 20px;
    font-weight: bold;
    width: 20rem;
    height: 3rem;
    background-color: transparent;
    border: solid rgb(150, 150, 150);
    border-radius: 0.5rem;
    text-align: center;
    margin: 1rem auto;
    outline: none;
}

.search-input::placeholder {
    color: rgb(150, 150, 150);
}

.search-result {
    background-color: white;
    width: 20rem;
    margin: 0 auto;
    padding: 0.2rem;
    height: auto;
    position: absolute;
    left: 42.5%;
    z-index: 2;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.search a {
    color: white;
}

.search li {
    display: block;
    text-align: center;
    background-color: grey;
    width: 15rem;
    height: 2rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    margin: 0.5rem auto;
    padding: 0.5rem;
    position: relative;
}

.exit-search {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

.search-bar-image {
    width: 30px;
    height: 30px;
    position: relative;
    right: 40%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.search-bar-p {
    color: white;
    font-weight: bold;
    position: relative;
    bottom: 90%;
    left: 10%;
    font-weight: bold;
    font-size: 1rem;
}