.new-post {
    border: solid rgb(216, 216, 216);
    background-color: rgb(25, 25, 29, 0.7);
    width: 40rem;
    height: auto;
    border-radius: 1rem;
    margin: 1rem auto;
    padding: 0.3rem;
    z-index: 1;
}

.new-post .new-post-textarea,
.new-post-btn,
.new-post-input {
    display: block;
    padding: 0.3rem;
}

.new-post-textarea {
    width: 30rem;
    height: 6rem;
    background-color: transparent;
    border: solid rgb(216, 216, 216);
    border-radius: 0.3rem;
    outline: none;
}

.new-post .new-post-textarea::placeholder {
    padding: 2.5rem;
    text-align: center;
    color: rgb(216, 216, 216);
    font-weight: bold;
}

.new-post .new-post-textarea:focus {
    font-weight: bold;
    color: rgb(216, 216, 216);
}

.new-post .new-post-btn {
    width: 6rem;
    height: 2rem;
    font-weight: bold;
    background-color: rgb(216, 216, 216);
    border-radius: 1rem;
    border: solid rgb(216, 216, 216);
    cursor: pointer;
}

.new-post .new-post-input {
    margin: 0.8rem;
    outline: none;
}

.new-post .new-post-input::-webkit-file-upload-button {
    visibility: hidden;
}

.new-post .new-post-input::before {
    font-weight: bold;
    content: 'Select Image';
    cursor: pointer;
    width: 5rem;
    background-color: rgb(216, 216, 216);
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.new-post .file::before {
    margin-top: 1rem;
    content: 'Select Image';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}