.single-post {
    background-color: rgb(25, 25, 29, 0.7);
    border: solid rgb(216, 216, 216);
    border-radius: 0.5rem;
    width: 40rem;
    height: auto;
    margin: 1rem auto;
}

.single-post-loading {
    font-weight: bold;
    font-size: 3rem;
    color: white;
    background-color: transparent;
    text-align: center;
}

.single-post a {
    color: white;
}

content {
    color: white;
    padding: 0.5rem;
}

.creator-image {
    margin: 0.2rem;
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
}

.btn-delete-post,
.btn-edit-post {
    float: right;
    color: black;
    font-weight: bold;
}

.btn-delete-post,
.btn-edit-post {
    background-color: rgb(216, 216, 216);
    border: solid rgb(216, 216, 216);
    border-radius: 0.3rem;
    width: 3rem;
    cursor: pointer;
}

.post-image {
    position: relative;
    width: 38rem;
    height: 38rem;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
}

.comment-post-like,
.comment-post-unlike {
    border-radius: 0.5rem;
    border: solid rgb(216, 216, 216);
    color: black;
    font-weight: bold;
    cursor: pointer;
    width: 4rem;
    height: 2rem;
}

.comment-post-btn {
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: solid rgb(216, 216, 216);
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;
    width: 7rem;
    height: 2rem;
    position: absolute;
    margin: 5.2rem 0 0 0;
}

.comment-post-like,
.comment-post-unlike,
.comment-post-btn,
.comment-post-text {
    display: inline-block;
}

.content {
    font-weight: bold;
    margin: 0 0 2rem 2rem;
    color: white;
}

.comment-post-text {
    width: 50%;
    height: 5rem;
    border: solid rgb(216, 216, 216);
    border-radius: 0.5rem;
    background-color: transparent;
    font-weight: bold;
    color: black;
    padding: 0.5rem;
    outline: none;
    color: rgb(216, 216, 216);
    position: relative;
}

.comment-post-text::placeholder {
    padding: 0.5rem;
    color: rgb(216, 216, 216);
}

.comment-post-like,
.comment-post-unlike {
    position: relative;
}