.navbar {
    margin: 0;
    display: flex;
    position: sticky;
    top: 0%;
    background-color: rgb(25, 25, 29);
    opacity: 0.8;
    padding: 0.5rem;
    box-shadow: 1px 0px 3px 0px rgb(207, 223, 228);
}

h1 {
    color: #f1356d;
    padding: 1rem;
}

a {
    margin: 0 0 0 1rem;
    text-decoration: none;
    padding: 0.5rem;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

a:hover {
    color: #f1356d;
}

.navbar,
.navbar-links {
    margin-left: auto;
}

.navbar-links li {
    display: inline-block;
}